body {
    background-color: black;
    color:white;
    margin-top: 5vh;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}
.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    height:100vh;
}
a.fake-button {
    text-decoration: none;
    color: white;
    border:solid white;
    padding:5px;
    border-radius: 15px;
}
button {
    text-decoration: none;
    color: white;
    background-color: black;
    border:solid white;
    padding:5px;
    border-radius: 15px;
}

/*
      __  __    
||\ ||  \|_ \_/ 
|| \||__/|__/ \ 
                
*/

.first40cards a {
    font-size:4em;
}
.options {
    margin: 5%;
}
@media screen and (max-width:500px) {
    .first40cards a {
        font-size:2em;
    }
}

/*
       __    __     __  __  
 |__| /  \  /   /\ |__)|  \ 
    | \__/  \__/--\| \ |__/ 
                            
*/
.card {
    height:33vh;
    width:50vw;
    font-size:6em;
    text-align: center;
    line-height: 0;
    margin-bottom:10vh;
    border: solid white;
    border-radius: 15px;
}
.answer-box {
    font-size:1.5em;
    text-align:center;
    margin-bottom: 5vh;
    padding:5%;
    border: solid white;
    border-radius: 15px;
}
.answer-box label {
    display:block;
}
input {
    text-align: center;
    border-radius: 15px;
}
.buttons {
    width:30vw;
    height:30vh;
    text-align: center;
}
.buttons div {
    margin-top:2vh;
}
@media screen and (max-width: 700px) {
    .card {
        font-size:3em;
        width:70vw;
    }
}
@media screen and (max-width: 300px) {
    .card {
        font-size:2em;
        width:80vw;
    }
}
