body {
    background-color: black;
    color:white;
    margin-top: 5vh;
    padding: 0;
    font-family: Times;
}
.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    height:93vh;
}
a.fake-button {
    text-decoration: none;
    color: white;
    border:solid white;
    padding: 8px 9px 11px 9px;
    border-radius: 15px;
    background-color: black;
}
button {
    text-decoration: none;
    color: white;
    background-color: black;
    border:solid white;
    padding:10px;
    border-radius: 15px;
}

/*
      __  __    
||\ ||  \|_ \_/ 
|| \||__/|__/ \ 
                
*/
.options {
    margin: 0% 5% 5% 5%;
}
.dropdown-button {
    background-color: #000000;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: solid white;
    border-radius:2px;
    cursor: pointer;
}
.dropdown-button:hover, .dropdown-button:focus {
    background-color: rgb(0, 0, 0);
}
.index-dropdown {
    position: relative;
    display: inline-block;
}
.index-dropdown-content {
    display: none;
    position: absolute;
    background-color: #c0c0c0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius:2px;
    z-index: 1;
}
.index-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.index-dropdown-content a:hover {background-color: #ddd;}
  .show {display:block;} /* THIS IS IN JS, IT HAS NO USE HERE OTHER THAN TO BE JS BAIT */
/*
       __    __     __  __  
 |__| /  \  /   /\ |__)|  \ 
    | \__/  \__/--\| \ |__/ 
                            
*/
.card {
    height:33vh;
    width:50vw;
    font-size:6em;
    text-align: center;
    line-height: 0;
    margin-bottom:10vh;
    border: solid white;
    border-radius: 15px;
    background-color:black;
}
.card-text {
    margin-top:17.5%;
}
.answer-box {
    font-size:1.5em;
    text-align:center;
    margin-bottom: 5vh;
    padding:5%;
    border: solid white;
    background-color:black;
    border-radius: 15px;
}
.answer-box label {
    display:block;
}
input {
    margin-top:2vh;
    text-align: center;
    border-radius: 15px;
    font-size: 0.75em;
}
.buttons {
    margin-top:-5vh;
    width:30vw;
    height:30vh;
    text-align: center;
}
.buttons div {
    margin-top:2vh;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
    background-color: #000000;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #ffffff;
    width: 80%; /* Could be more or less, depending on screen size */
}
#check-button, #back-button {
    font-size:2em;
}
@media screen and (max-width: 700px) {
    .card {
        font-size:3em;
        width:70vw;
    }
    .card-text {
        margin-top:30%;
    }
    #check-button, #back-button {
        font-size:1em;
    }
}
@media screen and (max-width: 300px) {
    .card {
        font-size:2em;
        width:80vw;
    }
    .card-text {
        margin-top:17.5vh;
    }
}
/*
                ___  __      __ 
 /\ |\ |||\/| /\ | |/  \|\ |(_  
/--\| \|||  |/--\| |\__/| \|__)                                 
*/
@keyframes correctAnswer {
    0% {background-color: rgb(0, 135, 0);}
    100% {background-color: rgb(0, 0, 0);}
}
@keyframes wrongAnswer {
    0% {background-color: rgb(135, 0, 0);}
    100% {background-color: rgb(0, 0, 0);}
}