/*
COLOURS:
--text: #e9edf6;
--background: #070a12;
--primary: #a4b3da;
--secondary: #101728;
--accent: #4e6ab7;
*/


@font-face {
    font-family: Zird-Chemistry;
    src: url(fonts/NotoSerifBalinese-Regular.ttf);
}
body {
    background-color: #070a12;
    color:#e9edf6;
    margin-top: 5vh;
    padding: 0;
    font-family: Zird-Chemistry;
}
.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    height:93vh;
    margin: 0% 5% 5% 5%;
}
a.fake-button {
    text-decoration: none;
    color: #e9edf6;
    border:solid #e9edf6;
    padding: 8px 9px 2px 9px;
    border-radius: 15px;
    background-color: #070a12;
}
button {
    text-decoration: none;
    color: #e9edf6;
    background-color: #070a12;
    border:solid #e9edf6;
    padding:10px;
    border-radius: 15px;
}
input {
    margin-top:2vh;
    text-align: center;
    border-radius: 15px;
    font-size: 0.75em;
    width:20vw;
}
h1 {
    color:#a4b3da;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #070a12;
}
/* Modal Content/Box */
.modal-content {
    background-color: #070a12;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #e9edf6;
    width: 80%; /* Could be more or less, depending on screen size */
}
.modal-content a {
    color:lightblue;
    font-size:20px;

}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: #070a12;
    text-decoration: none;
    cursor: pointer;
}
/*
      __  __    
||\ ||  \|_ \_/ 
|| \||__/|__/ \ 
                
*/
.dropdown-button {
    background-color: #070a12;
    color: #e9edf6;
    padding: 16px;
    font-size: 16px;
    border: solid #e9edf6;
    border-radius:2px;
    cursor: pointer;
}
.dropdown-button:hover, .dropdown-button:focus {
    background-color: #070a12;
}
.index-dropdown {
    position: relative;
    display: inline-block;
    margin-top:5vh;
}
.index-dropdown-content {
    display: none;
    position: absolute;
    background-color: #101728;
    box-shadow: 0px 8px 16px 0px #00000033;
    border-radius:2px;
    z-index: 1;
    overflow-y: none;
}
.index-dropdown-content button {
    color: #070a12;
    background-color: #4e6ab7;
    padding: 12px 40px;
    text-decoration: none;
    display: block;
    border:none;
    border-radius: 0px;
    font-weight: bold;
}
.index-dropdown-content button:hover {background-color: #ddd;}
  .show {display:block;} /* THIS IS IN JS, IT HAS NO USE HERE OTHER THAN TO BE JS BAIT */
#first40-dropdown button {
    width: 152px;
}
#biC-dropdown button {
    width: 174px;
}
/*
       __    __     __  __  
 |__| /  \  /   /\ |__)|  \ 
    | \__/  \__/--\| \ |__/ 
                            
*/
.card {
    height:33vh;
    width:50vw;
    font-size:6em;
    text-align: center;
    line-height: 0;
    margin-bottom:10vh;
    border: solid #e9edf6;
    border-radius: 15px;
    background-color:#070a12;
}
.card-text {
    margin-top:17.5%;
}
.answer-box {
    font-size:1.5em;
    text-align:center;
    margin-bottom: 5vh;
    padding:5%;
    border: solid #e9edf6;
    background-color:#070a12;
    border-radius: 15px;
}
.answer-box label {
    display:block;
}
.buttons {
    margin-top:-5vh;
    width:30vw;
    height:30vh;
    text-align: center;
}
.buttons div {
    margin-top:2vh;
}
#check-button, #back-button {
    font-size:2em;
}
@media screen and (max-width: 700px) {
    .card {
        font-size:3em;
        width:70vw;
    }
    .card-text {
        margin-top:30%;
    }
    #check-button, #back-button {
        font-size:1em;
    }
    input {
        width:80vw;
    }
}
@media screen and (max-width: 400px) {
    .card {
        font-size:2em;
        width:80vw;
    }
    .card-text {
        margin-top:17.5vh;
    }
}
/*
                ___  __      __ 
 /\ |\ |||\/| /\ | |/  \|\ |(_  
/--\| \|||  |/--\| |\__/| \|__)                                 
*/
@keyframes correctAnswer {
    0% {background-color: rgb(0, 135, 0);}
    100% {background-color: #070a12;}
}
@keyframes wrongAnswer {
    0% {background-color: rgb(135, 0, 0);}
    100% {background-color: #070a12;}
}

#first40cheetsheet {
    object-fit: cover;
    height: auto;
}